* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-size: calc(0.74em + 1vmin); /* responsive font size */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--black);
}

button {
  background: transparent;
  cursor: pointer;
}